body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #333;
}

.symbol-section {
    padding: 0 5%;
}

.close-button {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-button img {
    width: 30px;
    height: 30px;
}

h2 {
    font-size: 3rem;
    text-align: center;
    border: inset;
    border-width: 0px 0px 1px 0px;
    padding: 25px;
    width: 50%;
}

p {
    margin: 0.7rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

li {
    margin: 0.7rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
}

/* Sub Container CSS*/

.sub-container {
    width: 80%;
    border: 1px solid white;
}

.sub-container-flex {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.sub-container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-self: center;
    width: 90%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sub-container-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .sub-container-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .sub-container-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .sub-container-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


.sub-container-content-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Sub Container - Symbol Content - CSS*/

p.sub-container-content-flex {
    text-align: center;
}

.image-container-symbol {
    width: 50%;
    /* background-color: red; */
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sub-container-content-grid {
    display: grid;
    gap: 20px;
}

.list-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex: 1;
    align-items: center;
}

.multiplier-symbol-value-text {
    color: blueviolet;
    font-weight: 900;
    font-size: 1.7rem;
}

.symbol-value-text {
    color: white;
    font-size: 1.7rem;
}

.list-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

/* Sub Container - Line Content - CSS*/

.line-layout-card {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 200px;
    border-width: 1px;
    border-style: dotted;
}

.line-layout-row {
    width: 80%;
    display: flex;
    /* border: 1px solid white; */
    /* height: 40px; */

}

.line-layout-column {
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    /* 20% to match the width for a square shape */
    border: 1px solid white;
    box-sizing: border-box;
    position: relative;

}

/* To ensure content inside the square */
.line-layout-column>* {
    position: absolute;
    width: 100%;
    height: 100%;
}

.line-number {
    font-size: 2rem;
    font-weight: 900;
}

.line-layout-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}

.line-layout-text>p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Sub Container - Rules Content - CSS*/

.centered-paragraph {
    text-align: center;
    display: block;
    margin-bottom: 1em;
    font-size: 1.7rem;
}

p {
    font-size: 1.5rem;
}



/* .sub-container-section-flex {
    align-items: center;
    justify-content: center;
}

.sub-container-feature-content-flex {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 25px 25px;
}

.sub-container-feature-content-grid {
    display: grid;
}

.feature-content-div-image {
    overflow: hidden;
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    height: 250px;
}

.feature-content-div-text {
    overflow: hidden;
    overflow: hidden;
    word-wrap: break-word;
    max-width: 40%;
    max-height: 250px;

}

.feature-content-div-text>p {
    font-size: 1.0em;
} */

/* Sub Container - Feature Section - CSS*/

.singular-div-row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 500px;
}

.singular-div-column {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-div-class-flex-img {
    display: flex;
    width: 70%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.content-div-class-flex-text {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.featureImagesContent {
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}